<mdb-navbar SideClass="navbar navbar-1 navbar-light  primary-color-dark lighten-2" [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand text-white" routerLink="/">WALDO PROFILES</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light text-white" mdbWavesEffect  routerLink="/" >Home<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<div class="content" role="main">

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
